header {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  position: fixed;
  a {
    position: relative;
    text-decoration: none;
    color: #000000;
    background: none;
    border: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: 300ms;
    &:after {
      content: "";
      z-index: -1;
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 8px;
      bottom: 0px;
      left: 0;
      background-color: #ff613a;
      transform-origin: bottom left;
      transition: transform 300ms ease;
    }
    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    &:nth-of-type(4)::after {
      display: none;
    }
    &:nth-of-type(4):hover {
      color: #ff613a;
    }
  }
  h1 {
    position: relative;
    margin: 0;
    font-weight: 400;
    letter-spacing: 5px;
    text-shadow: #ff613a 0 0 0;
    transition: 500ms ease-in-out;
    transition-delay: 100ms;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .cart {
      position: relative;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin: 0;
        bottom: -10px;
        right: -10px;
        background-color: #ff613a;
        border-radius: 50%;
        min-width: 1rem;
        min-height: 1rem;
        font-size: 0.8rem;
        font-weight: 400;
        color: white;
        padding: 0.1rem;
      }
    }
  }
}
